<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>(Admin)Notices</title>
  <link rel="icon" href="/images/residents(admin)/round_apartment_black_24dp.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/dues.css">
  <!-- <link rel="stylesheet" href="./dues.css"> -->
</head>

<body>

  <div class="logo" style="color: #00A0AA; background-color: white;">
    <h2>Wevolve</h2>
    <div class="img">
      <img src="/images/residents(admin)/building.png" height="150px" width="200px">
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #00A0AA;">
    <div class="container-fluid">
      <a class="nav-link" href=<%- `/resident/${id}/homepage` %>>HOME</a>
      <a class="nav-link" href=<%- `/resident/${id}/dues` %>>DUES</a>
      <a class="nav-link" href=<%- `/resident/${id}/notices` %>>NOTICES</a>
      <a class="nav-link" href=<%- `/resident/${id}/complaints` %>>COMPLAINTS</a>
      <a class="nav-link" href=<%- `/resident/${id}/permissions` %>>PERMISSIONS</a>
      <a class="nav-link" href=<%- `/resident/${id}/residents` %>>RESIDENTS</a>
      <a class="nav-link" href=<%- `/resident/${id}/documents` %>>DOCUMENTS</a>
      <div class="dropdown">
        <img src="/images/resident-home/baseline_person_white_24dp.png" height="30px" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  </nav>



  <div class="container-form">
    <h2>REGISTER NEW COMPLAINT</h2>
    <div class="form-align">
      <form method="POST">
        <div class="mb-3">
          <label for="Date" class="form-label">Date</label>
          <input type="date" name="date" class="form-control" id="Date">
        </div>
        <div class="mb-3">
          <label for="Subject" class="form-label">Subject</label>
          <input type="text" name="subject" class="form-control" id="Subject">
        </div>
        <div class="mb-3">
          <label for="Details" class="form-label">Details</label>
          <input type="text" name="details" class="form-control" id="Details">
        </div>
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="content">
    <h3>PREVIOUS COMPLAINTS</h3>
    <div class="table-responsive">
      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Subject</th>
            <th scope="col">Details</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% if (complaints && complaints.length) { %>
            <% const revComplaints=complaints.reverse() %>
              <% for (const complaint of complaints) { %>
                <tr>
                  <td>
                    <%- complaint.date.toLocaleString().split(",")[0] %>
                  </td>
                  <td>
                    <%- complaint.subject %>
                  </td>
                  <td>
                    <%- complaint.details %>
                  </td>
                  <td>
                    <% if (complaint.status=="Resolved" ) { %>
                      <span class="Per5">Accepted</span>
                      <% } else if (complaint.status=="Pending" ) {%>
                        <span class="Per6">Pending</span>
                        <% } %>
                  </td>
                </tr>
                <% } %>
                  <% } %>
                    <!-- <tr>
              <td>21 Sept 2021</td>
              <td>Adhaar Card</td>
              <td>add doc</td>
            </tr>
            <tr>
              <td>21 Sept 2021</td>
              <td>Rental Documents</td>
              <td>add doc</td>
            </tr>
            <tr>
              <td>21 Sept 2021</td>
              <td>House Documents</td>
              <td>add doc</td>
            </tr> -->
        </tbody>
      </table>
    </div>
  </div>

  <div class="back-button">
    <div class="col-md-12 text-center">
      <button type="button" class="btn">BACK</button>
    </div>
  </div>

  <footer>
    <div class="card" id="pagefooter">
      <div class="card-body" id="footerbody">
        <h1 class="card-title" id="footertitle">Get In Touch</h1>
        <p class="card-text" id="footertext">To learn more and for further enquiries</p>
        <h4><a href="#">Click Here</a></h4>
        <div class="footerimg">
          <img src="/images/residents(admin)/Up arrow.png" alt="arrow" height="40px">
        </div>
      </div>
      <div class="card-footer" id="footerend">
        <h5>Contact: +917303209630 </h5>
        <div class="footerimageslogo">
          <a href="#"><img src="/images/residents(admin)/youtube-logo-.png" height="35px"></a>
          <a href="#"><img src="/images/residents(admin)/logo-instagram-.png" height="35px"></a>
          <a href="#"><img src="/images/residents(admin)/logo-twitter-.png" height="35px"></a>
          <a href="#"><img src="/images/residents(admin)/facebook logo.png" height="35px"></a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>

</html>